
AppUserAuthentication/.idea/

AppUserAuthentication/obj/

AppUserAuthentication/bin/

JwtAuthentication/.idea/

JwtAuthentication/AppUserAuthentication/.idea/

JwtAuthentication/AppUserAuthentication/bin/

JwtAuthentication/AppUserAuthentication/obj/

JwtAuthentication/AppUserAuthenticationTest/bin/

JwtAuthentication/AppUserAuthenticationTest/obj/

JwtAuthentication/builds/

JwtAuthentication/.vs/JwtAuthentication/v16/

JwtAuthentication/.vs/JwtAuthentication/DesignTimeBuild/
